
*{margin: 0;padding: 0;}
body{background-color: #E3E3E3;}
.initial{position: relative;width: 500px;margin: 20px;overflow: hidden;}
.initial img{width: 100%;}
.initial .area{position: absolute;left: 0px;top: 0px;width: 150px;height: 150px;cursor: move;background-color: #ffffff;opacity: 0.5;display: none;}
.large{position: fixed;right: 20px;top: 20px;overflow: hidden;display: none;}
.large img{position: absolute;}